$font-family-base: 'Kanit', sans-serif;

$theme-colors: (
  'primary': #f1431c,
  'secondary': white,
);

$white: #fff;
$primary: map-get($theme-colors, primary);

$enable-responsive-font-sizes: true;
$spacer: 1.5rem;

$nav-link-padding-x: 2rem !important;
$navbar-dark-color: $white;
