.contact-us {
  background-image: url('/imgs/banner-2.jpg');
  background-size: cover;

  .map {
    border-radius: 1rem;
  }

  form {
    padding: 1rem;
    border-radius: 1rem;
    background-color: $white;
  }

  .contact-icons {
    .contact-icon {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      img {
        height: 2rem;
        margin-right: 1rem;
      }
      p {
        margin: 0;
      }
    }
  }
}
