<div class="about-us container text-center py-4">
  <h2 class="text-primary">เกี่ยวกับเรา</h2>
  <h3 class="mt-2 mb-4">ธุรกิจร้านซักผ้าหยอดเหรียญคืออะไร</h3>
  <p>
    ธุรกิจร้านสะดวกซัก (Laundromat) เป็นร้านให้บริการตนเอง (Self-Service)
    ที่ให้ลูกค้านำผ้ามาซัก และ อบในร้าน โดยเครื่องจักร และ อุปกรณ์ต่าง ๆ
    เกี่ยวกับการ ซัก-อบ ผ้าจัดเตรียมไว้ให้ ธุรกิจนี้ได้รับความนิยมเป็นอย่างมาก
  </p>
  <p>
    ธุรกิจเครื่องซักผ้าหยอดเหรียญมีมานานกว่า 10 ปีแล้วในตลาดประเทศไทย
    โดยได้มีการนำเครื่องซักผ้าตามบ้านมาติดกล่องหยอดเหรียญ
    โดยทั่วไปมักขาดการบำรุงรักษา สกปรก ชำรุด กินเหรียญ ใช้เวลานาน และ
    ซักไม่สะอาด เครื่องซักที่ตั้งอยู่บางแห่ง อยู่ในสถานที่ที่ไม่ปลอดภัย
    มีโอกาสเกิดอันตรายต่อผู้ใช้บริการ
  </p>
  <p>
    24 WASHLAUNDRY นำเสนอรูปแบบการใช้บริการที่แตกต่างไปจากเดิม
    ให้บริการด้วยเครื่องจักรทันสมัย ช่วยลดเวลาในการซักผ้า และอบผ้าได้ เปิดบริการ
    24 ชั่วโมง มีที่นั่งรอระหว่างซักอบผ้าที่สะดวกสบาย บริการ FREE WIFI
    พร้อมทั้งกล้องวงจรปิดดูแลตลอด 24 ชั่วโมง มีพนักงานเข้าไปทำความสะอาดร้าน และ
    เครื่องจักรทุกวัน ทำให้ลูกค้าที่มาใช้บริการได้รับความประทับใจ
    ทั้งจากความสะอาดของผ้า ความสะดวกในการเข้าใช้บริการ และ
    ความสบายในบรรยากาศที่ผ่อนคลาย
  </p>
</div>
