<div class="contact-us py-4">
  <div class="container">
    <div class="text-center">
      <h2>เกี่ยวกับเรา</h2>
      <h3 class="text-primary mt-2 mb-4">
        ท่านสามารถส่งข้อความถึงเราที่ฟอร์มด้านล่างนี้
        แล้วเราจะติดต่อกลับไปให้เร็วที่สุด
      </h3>
    </div>
    <div class="row align-items-center">
      <div class="col-md-8">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.6788651095435!2d100.56438811390753!3d13.737882190356459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29efc646f2bad%3A0x9537c6f6f5ec3c46!2sWash+and+Dry!5e0!3m2!1sen!2sth!4v1561896171184!5m2!1sen!2sth"
          width="100%"
          height="375"
          frameborder="0"
          style="border:0"
          class="map"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <form>
          <div class="form-group">
            <label>ชื่อ*</label>
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="ชื่อ - นามสกุล"
            />
          </div>
          <div class="form-group">
            <label>อีเมล*</label>
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="ชื่อ@โดเมน.com"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">ข้อความ*</label>
            <textarea
              class="form-control"
              name="message"
              placeholder="ข้อความของคุณ"
              rows="3"
            ></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary px-4">
              ส่งข้อความ
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
