<div id="home" class="home">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-6 col-12 pl-lg-5 pb-lg-5 mt-md-5 mt-4">
        <h1>สะอาด สะดวก สบาย</h1>
        <h2 class="my-3">
          ร้านซักผ้าหยอดเหรียญครบวงจร
          อีกแนวคิดหนึ่งของธุรกิจคืนทุนเร็วและให้ผลตอบแทนสูง
        </h2>
        <p class="mb-3">
          ร้านซักผ้าหยอดเหรียญ ตอบโจทย์ไลฟ์สไตล์ของคนยุคใหม่
          ทำให้เรื่องซักผ้าเป็นเรื่องสนุก ด้วยเครื่องที่ทันสมัย ทนทาน
          รองรับการใช้งานที่ยาวนาน ลงทุนเพียงครั้งเดียว
          เป็นธุรกิจที่ประสบความสำเร็จทั่วโลก
        </p>
        <a class="btn btn-secondary px-4 js-scroll-trigger" href="#contact-us" role="button">
          ติดต่อเรา
        </a>
      </div>
      <div class="col-lg-6 p-lg-5 p-0 m-lg-0 m-4 text-center">
        <img
          src="{{ `imgs/bear.png` | relURL }}"
          alt="showcase"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
