<div class="promotion pt-4 pb-5">
  <div class="container text-center">
    <h2 class="text-primary mb-4">โปรโมชั่น</h2>
    <div class="row">
      {{ with .Site.GetPage "/promotions" }}
      {{ range $index, $page := .Pages }}
      <div class="col-md-4">
        {{ range first 1 (.Resources.ByType "image") }}
        {{ $image := . }}
        <img
          src="{{ $image.RelPermalink }}"
          alt="promotion"
          class="img-fluid"
        />
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
