<div class="promotion pt-4 pb-5">
  <div class="container text-center">
    <h2 class="text-primary mb-4">โปรโมชั่น</h2>
    <div class="row">
      <div class="col-md-4">
        <img
          src="{{ `imgs/promotion-1.jpg` | relURL }}"
          alt="promotion"
          class="img-fluid"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{{ `imgs/promotion-1.jpg` | relURL }}"
          alt="promotion"
          class="img-fluid"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{{ `imgs/promotion-3.jpg` | relURL }}"
          alt="promotion"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
