<h3 class="my-5 text-primary">
  แฟรนไชส์ <span class="font-light">24 WASHLAUNDRY ( Package )</span>
</h3>
<div class="row packages justify-content-center">
  {{ with .Site.GetPage "/packages" }}
  {{ range $index, $page := .Pages }}
  <div class="col-lg-4 col-md-6 mb-3">
    <div class="package">
      <img
        class="speed-queen-logo"
        src="{{ `icons/speed-queen-logo.png` | relURL }}"
        alt="speed queen logo"
      />
      <div class="item">
        <h4 class="text-primary">
          <span class="font-light">LAUNDROMAT</span> Size {{ $page.Title }}
        </h4>
        {{ range first 1 (.Resources.ByType "image") }}
        {{ $image := . }}
        <img
          src="{{ $image.RelPermalink }}"
          alt="Size {{ $page.Title }}"
          class="package-img"
        />
        {{ end }}
        <div class="download">
          <img src="{{ `icons/download.svg` | relURL }}" alt="download" />
          <div class="text-primary font-light">DOWNLOAD</div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
