<h2>การลงทุน</h2>
<h3 class="mt-2 mb-4 text-primary">ข้อดีของธุรกิจร้านซักผ้าหยอดเหรียญ</h3>
<div class="row pros px-md-5">
  <div class="col-12 pro">
    <div class="icon">
      <img src="{{ `icons/washing-machine.svg` | relURL }}" />
    </div>
    <p>
      เป็นธุรกิจที่ประสบความสำเร็จมาแล้วทั่วโลก
      และผู้ลงทุนได้รับผลตอบแทนที่คุ้มค่า
    </p>
  </div>
  <div class="col-12 pro">
    <div class="icon">
      <img src="{{ `icons/bars.svg` | relURL }}" />
    </div>
    <p>
      มีความต้องการมาก และเพิ่มขึ้นตลอดเวลา
      เพราะความต้องการในการซักผ้าเป็นปัจจัยพื้นฐาน
      และเป็นสิ่งจำเป็นที่ต้องมีการใช้ตลอดเวลา
    </p>
  </div>
  <div class="col-12 pro">
    <div class="icon">
      <img src="{{ `icons/clock.svg` | relURL }}" />
    </div>
    <p>
      เป็นธุรกิจที่ไม่ใช้เวลาในการบริหารจัดการมากนัก
      ผู้ลงทุนไม่จำเป็นต้องออกจากงานประจำถ้าไม่ต้องการ
    </p>
  </div>
</div>
